:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --columns: 4;
  --gap: 1.6rem;
  --primary-second: #000000;
  --primary-first: #F9D704;
  --background-products: #151E22;
  --background: #111111;
  --background-0: rgba(255, 255, 255, 1);
  --white: #FFFFFF;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.Bg-primaryFirst {
  background-color: var(--primary-first);
}

.Bg-primaryFirst-logo {
  width: 90%;
}

.Bg-primaryFirst-logo img {
  height: 300px;
}

.Bg-primarySecond {
  background-color: var(--primary-second);
}

.Decks img {
  height: 450px;
}

.Decks {
  position: absolute;
}

.Decks:nth-child(1) {
	transform-origin: bottom;
	transform: rotate(-30deg);
}

.Decks:nth-child(2) {
	position: relative;
	top: 20px;
	z-index: 100;
	left: 10px;
}

.Decks:nth-child(3) {
	transform-origin: bottom;
	transform: rotate(30deg);
}

.FullScreen {
  width: 100%;
  min-width: 320px;
  height: 100vh;
}

.Flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}