:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --columns: 4;
  --gap: 1.6rem;
  --primary-second: #000000;
  --primary-first: #f9d704;
  --background-products: #151e22;
  --background: #111111;
  --background-0: rgba(255, 255, 255, 1);
  --text-color: #3e3e3e;
  --white: #ffffff;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

a:visited {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-second);
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: fixed;
}

.Header {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-logo {
  padding: 1.6rem;
}

.Header-icons {
  display: flex;
  align-items: center;
}

.Header-icons figure {
  margin: 1.6rem;
}

.Header-icons .icon-cart,
.icon-menu {
  width: 20px;
}

.Main {
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0 1.6rem;
}

.Main p {
  color: var(--text-color);
}

.Categories-products {
  background-color: var(--background-products);
  border-radius: 8px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0;
  padding: 0 1.6rem;
}

.Categories-products .Title {
  margin: 0;
}

.Categories-products-figure,
.Categories-products-image {
  height: inherit;
  display: flex;
}

.Product-figure {
  background-color: var(--background-products);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Product-table {
  transform: rotate(45deg);
}

.Product-wheel {
  height: 80px;
  align-self: center;
  margin: 0 1.6rem;
}

.Product .Text {
  text-align: start;
}

.Checkout {
  background-color: var(--primary-second);
}

.Checkout .Header {
  padding: 1.4rem 1.6rem 0 1.6rem;
}

.Checkout .Header h2 {
  color: var(--primary-first);
  padding: 0;
}

.Checkout .Title {
  margin: 0 0 0.8rem 0;
}

.Checkout-product {
  width: 100%;
  background: var(--background-products);
}

.Checkout-product-figure {
  display: flex;
  justify-content: center;
  height: inherit;
  padding-top: 1rem;
}

.Checkout-product-figure img {
  height: 60vh;
}

.Checkout-small-container {
  margin-right: 1.6rem;
  position: absolute;
  right: 0;
  top: 40%;
}

.Checkout-product-small {
  border: 1px solid var(--primary-first);
  border-radius: 4px;
  width: 63px;
  height: 63px;
  margin: 1.6rem 0;
}

.Checkout-product-desc {
  color: var(--text-color);
  width: 100%;
  padding: 0 1.6rem;
  margin-bottom: 10rem;
}

.Checkout-product-desc h2,
h3 {
  padding: 0.8rem 0;
}

.Checkout-title-container {
  font-size: 1.2rem;
  padding: 1.6rem 0;
}

.Checkout-title-container h2:nth-child(2) {
  color: var(--primary-first);
}

.Checkout-button-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1.6rem;
  position: fixed;
  bottom: 0;
}

.Title {
  color: var(--white);
  margin: 0 0 1.6rem 0;
}

.Bg-primaryFirst {
  background-color: var(--primary-first);
}

.Bg-primaryFirst-logo {
  width: 90%;
}

.Bg-primaryFirst-logo img {
  height: 300px;
}

.Bg-primarySecond {
  background-color: var(--primary-second);
  width: 100vw;
  height: 100vh;
}

.Bg-primarySecond-text {
  width: 100%;
  color: #3e3e3e;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.6rem;
}

.Decks img,
.Tables img {
  height: 90vw;
}

.Decks {
  position: absolute;
}

.Decks:nth-child(1) {
  transform-origin: bottom;
  transform: rotate(-30deg);
}

.Decks:nth-child(2) {
  position: relative;
  top: 20px;
  z-index: 100;
  left: 10px;
}

.Decks:nth-child(3) {
  transform-origin: bottom;
  transform: rotate(30deg);
}

.FullScreen {
  width: 100%;
  min-width: 320px;
  height: 100vh;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.6rem;
  margin: 1.6rem 0;
}

.Flex-between {
  display: flex;
  justify-content: space-between;
}

.Flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flex-end {
  display: flex;
  justify-content: end;
}

.Flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.Button {
  background-color: var(--primary-first);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}

.Padding-horizontal {
  padding: 0 1.6rem;
}

.Arrows-container {
	width: 100%;
	position: absolute;
	bottom: 3.2rem;
}

.Arrow-left {
  transform: rotate(360deg);
}

.Arrow-right {
  transform: rotate(180deg);
}